html {
	//This defines what 1rem is
	font-size: 62.5%; //1rem = 10px; 10px / 16px = 62.5%
}
body {
	box-sizing: border-box;
	padding: 3rem;
	background-color: lightgray;
	font-size: 1.25rem;
}

button {
	background-color: rgb(74, 114, 216);
	font-size: 1.5rem;
	border: none;
	padding: 1rem 3rem;
	border-radius: 3px;
	margin: 0.5rem 0;
	color: white;
	width: 70%;
}

form {
	width: 70%;
}

.form-header {
	font-size: 2.5rem;
	font-weight: 600;
	color: black;
}

.display {
	display: flex;
	justify-content: center;
	width: 50vw;
	// height: 25vh;
	margin: 2rem auto;
}

.add-stock {
	background-color: white;
	// background-color: $bg-color;
}

.remove-stock {
	background-color: white;
	// background-color: $bg-color;
}

.stock-levels {
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: flex-start;
	// width: 80%;
	// padding: 0 auto;
	background-color: white;
	// background-color: $bg-color;
}

.product {
	min-width: 70%;
	// border: 1px solid black;
}

.product__01,
.product__02,
.product__03 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.25rem 1rem;
	// margin: 1rem;
	// border: 1px solid lightgrey;
	box-shadow: 2px 0 0 0 #888, 0 2px 0 0 #888, 2px 2px 0 0 #888,
		/* Just to fix the corner */ 2px 0 0 0 #888 inset, 0 2px 0 0 #888 inset;
}
